<div class="arc-footer">
    <div class="container">
        <div class="footer-top">
            <section class="footer-section">
                <h4 class="section-title">Navegação</h4>
                <ul class="footer-nav">
                    <a class="footer-nav-link" [routerLink]="(['/'])">Home</a>
                    <a class="footer-nav-link" [routerLink]="(['/discover'])">Discover</a>
                </ul>
            </section>

            <section class="footer-section">
                <h4 class="section-title">Contate-nos</h4>
                <ul class="footer-nav">
                    <a class="footer-nav-link" [routerLink]="(['/'])">Home</a>
                    <a class="footer-nav-link" [routerLink]="(['/'])">Navegar</a>
                    <a class="footer-nav-link" [routerLink]="(['/'])">Mangás</a>
                    <a class="footer-nav-link" [routerLink]="(['/'])">Vídeos</a>
                </ul>
            </section>

            <section class="footer-section">
                <h4 class="section-title">DatMovie</h4>
                <ul class="footer-nav">
                    <a class="footer-nav-link" [routerLink]="(['/'])">Quem Somos</a>
                    <a class="footer-nav-link" [routerLink]="(['/'])" style="max-width: 100%;">Política de
                        Privacidade</a>
                    <a class="footer-nav-link" href="https://www.linkedin.com/in/fabricio-souza0/" target="_blank"
                        crossorigin="anonymous">Desenvolvedor</a>
                    <a class="footer-nav-link" [routerLink]="(['/'])">Doação</a>
                </ul>
            </section>

            <section class="footer-section">
                <h4 class="section-title">Conta</h4>
                <ul class="footer-nav">
                    <a class="footer-nav-link" [routerLink]="(['/'])">Perfil</a>
                    <a class="footer-nav-link" [routerLink]="(['/'])">Minha Lista</a>
                    <a class="footer-nav-link" [routerLink]="(['/'])">Histórico</a>
                    <a class="footer-nav-link" [routerLink]="(['/'])">Sair</a>
                </ul>
            </section>
        </div>
        <div class="footer-bottom">
            <section class="copyright-section">
                <div class="copy">
                    <span>&copy;DatMovie</span>
                </div>
                <div class="btn-top">
                    <button (click)="goTop()">
                        <div class="nav-link-icon">
                            <mat-icon aria-hidden="false" aria-label="Topo da página" inline="true"
                                fontIcon="arrow_upward">
                            </mat-icon>
                            <span>SUBIR</span>
                        </div>
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>