<swiper class="swiper" id="highlights" [config]="config">
    <ng-template swiperSlide>
        <div class="arc-card-highlights">
            <div class="card-highlights-content">
                <a [routerLink]="['/']">
                    <img src="assets/images/slide01.jpg" alt="">
                </a>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="arc-card-highlights">
            <div class="card-highlights-content">
                <a [routerLink]="['/']">
                    <img src="assets/images/slide01.jpg" alt="">
                </a>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="arc-card-highlights">
            <div class="card-highlights-content">
                <a [routerLink]="['/']">
                    <img src="assets/images/slide01.jpg" alt="">
                </a>
            </div>
        </div>
    </ng-template>
</swiper>