.line {
  width: 100%;
  height: 4px;
  background: rgb(238, 85, 34);
  background: rgb(42, 189, 187);
  background: -moz-linear-gradient(
    90deg,
    rgba(42, 189, 187, 1) 0%,
    rgba(42, 189, 187, 1) 65%,
    rgba(33, 57, 68, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(42, 189, 187, 1) 0%,
    rgba(42, 189, 187, 1) 65%,
    rgba(33, 57, 68, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(42, 189, 187, 1) 0%,
    rgba(42, 189, 187, 1) 65%,
    rgba(33, 57, 68, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2abdbb",endColorstr="#213944",GradientType=1);

  margin-bottom: 0.5rem;
}

#inline {
  width: 100%;
}

.main-item {
  background-color: transparent;
  width: 100%;
}

.slides {
  display: flex;
  gap: 5px;
}

.sliderLoading {
  height: 250px;
  width: 25%;
}
