<section class="arc-emphasis">
    <div class="container">
        <div class="emphasis-img">
            <a routerLink="/">
                <img [src]="emphasisImg" alt="{{emphasisTitle}}">
            </a>
        </div>
        <div class="emphasis-content">
            <h1 class="title">
                {{emphasisTitle}}
            </h1>
            <h4 class="description">
                Uma série sobrenatural de horror que acompanha a vida de Yuji Itadori, um adolescente que se envolve em
                uma batalha épica entre exorcistas e poderosas maldições e acaba sendo possuído
            </h4>
            <div class="emphasis-buttons">
                <button>
                    <mat-icon [inline]="true" fontIcon="play_arrow"></mat-icon>
                </button>
                <button>
                    <mat-icon [inline]="true" fontIcon="share"></mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>