<div *ngIf="details$ | async as details; else loadingSeasons">
    <div class="temp-nav">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-temp" id="menuTrigger" ngbDropdownToggle
                #seasonMenu>{{seasonName}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem [ngClass]="''" (click)="changeSeason($event, details.id, details.name)"
                    *ngFor="let season of details.seasons;">
                    <input type="hidden" value="{{season.season_number}}">
                    <input type="hidden" value="{{season.name}}">
                    {{season.name}}
                </button>
            </div>
        </div>
    </div>

    <section class="arc-eps" *ngIf="episodes$ |async as episodes; else loadingEps">
        <div *ngFor="let ep of episodes">
            <a href="https://embed.warezcdn.com/serie/{{imdbId$ |async}}/{{seasonNumber}}/{{ep.episode_number}}"
                crossorigin="anonymous" target="_blank">
                <div class="arc-ep">
                    <div class="ep-poster">
                        <img defaultImage="assets/images/loading.gif" lazyLoad="{{baseImgUrl + ep.still_path}}"
                            errorImage="assets/images/img-not-found.png" alt="">
                        <div class="ep-rate arc-icon-text">
                            <mat-icon inline="true" fontIcon="star" class="rate-icon"></mat-icon>
                            <div>
                                <span>{{ep.vote_average | number: '1.1-1'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="tv-title">{{tvName}}</div>
                    <div class="ep-title">T{{seasonNumber}}/E{{ep.episode_number}} {{ep.name}}</div>
                </div>
            </a>
        </div>
    </section>
</div>

<ng-template #loadingSeasons>
    <div class="animated-background" style="width: 10rem; height: 3rem; margin-bottom: 0.825rem;"></div>
    <section class="arc-eps animated-background" style="height: 20rem;"></section>
</ng-template>
<ng-template #loadingEps>
    <section class="arc-eps animated-background" style="height: 20rem;"></section>
</ng-template>