.temp-nav {
  margin-bottom: 0.825rem;
}

.temp-nav,
.btn {
  width: fit-content;
  color: #a0a0a0;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.temp-nav:hover,
.temp-nav:active {
  color: #fff;
  background-color: var(--bg-hover-color);
}

.arc-eps {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.card-inline-title {
  font-size: 0.87rem;
}

.ep-rate {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 5px;
}

.tv-title {
  font-size: 0.8rem;
  color: #a0a0a0;
  margin-top: 0.5rem;
}

/* 475px */
@media (min-width: 29.688rem) {
  .arc-eps {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 850px */
@media (min-width: 53.125rem) {
  .arc-eps {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 1300px */
@media (min-width: 81.25rem) {
  .arc-eps {
    grid-template-columns: repeat(4, 1fr);
  }
}
