<div *ngIf="details$ | async as details; else loadingSeasons">
    <div class="temp-nav">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-temp" id="menuTrigger" ngbDropdownToggle
                #seasonMenu>{{seasonName}}</button>
            <div ngbDropdownMenu aria-labelledby="Temporadas">
                <button ngbDropdownItem (click)="changeSeason($event, details.id, details.name)"
                    *ngFor="let season of details.seasons;">
                    <input type="hidden" value="{{season.season_number}}">
                    <input type="hidden" value="{{season.name}}">
                    <input type="hidden" value="{{season.episode_count}}">
                    {{season.name}}
                </button>
            </div>
        </div>
    </div>

    <section class="arc-eps" *ngIf="episodes$ | async as episodes; else loadingEps">
        <div *ngFor="let ep of episodes">
            <a href="{{baseStreamUrl}}/serie/{{imdbId$ |async}}/{{seasonNumber}}/{{ep.episode_number}}"
                crossorigin="anonymous" target="_blank">
                <div class="arc-card-inline">
                    <div class="card-inline-poster">
                        <img class="ep-poster" defaultImage="assets/images/loading.gif"
                            lazyLoad="{{baseImgUrl + ep.still_path}}" errorImage="assets/images/img-not-found.png">
                        <div class="ep-rate card-inline-rate arc-icon-text">
                            <mat-icon class="rate-icon" inline="true" fontIcon="star" class="rate-icon"></mat-icon>
                            <div>
                                <span>{{ep.vote_average | number: '1.1-1'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="tv-title">{{tvName}}</div>
                    <div class="card-inline-title">
                        <span>T{{seasonNumber < 1 ? 'E' : seasonNumber}}/E{{ep.episode_number}}</span>
                                {{ep.name}}
                    </div>
                </div>
            </a>
        </div>
    </section>
</div>

<ng-template #loadingSeasons>
    <div class="animated-background" style="width: 10rem; height: 3rem; margin-bottom: 0.825rem;"></div>
</ng-template>
<ng-template #loadingEps>
    <section class="arc-eps">
        <div class="arc-card-inline loading" *ngFor="let n of episodeCount">
            <div class="card-inline-poster animated-background" style="height: 150px;"></div>
            <div class="tv-title animated-background" style="height: 0.8rem;"></div>
            <div class="card-inline-title animated-background" style="height: 0.95rem;"></div>
        </div>
    </section>
</ng-template>