<div class="arc-info" *ngIf="details$ | async as details; else loadingDetails">
    <h1 class="title">{{details?.title ? details.title: details.name}}</h1>

    <div class="arc-sub-info flex">
        <h5 class="tagline">{{details.tagline}}</h5>
        <div class="genres flex">
            <div *ngFor="let genre of details.genres">
                <span class="genre">{{genre.name}}</span>
            </div>
        </div>
    </div>

    <div class="arc-duration" *ngIf="mediaType == 'movie'; else tvDuration">
        <span class="duration">Lançamento: {{details.release_date | date: 'y'}}</span>
        <span class="duration">Duração: {{details.runtime}}min</span>
    </div>
    <ng-template #tvDuration>
        <div class="arc-duration">
            <span class="duration">Primeiro EP: {{details.first_air_date | date: 'dd/MM/y'}}</span>
            <span class="duration">Ultímo EP: {{details.last_air_date | date: 'dd/MM/y'}}</span>
            <span class="duration">Status: {{details.status}}</span>
        </div>
    </ng-template>

    <div class="actions flex">
        <button class="copy-link" (click)="copyLink()">
            <div class="flex" [style.gap]="'5px'">
                <mat-icon [style.fontSize]="'1.5rem'" aria-hidden="false" aria-label="Pesquisar" inline="true"
                    fontIcon="content_copy">
                </mat-icon>
                <span class="only-large-devices">COPIAR LINK</span>
            </div>
        </button>

        <button class="add-to-list">
            <div class="flex" [style.gap]="'5px'" [style.justifyContent]="'center'" [style.alignItems]="'center'">
                <mat-icon [style.fontSize]="'1.5rem'" aria-hidden="false" aria-label="Pesquisar" inline="true"
                    fontIcon="add">
                </mat-icon>
                <span class="only-large-devices">ADICIONAR À LISTA DE FAVORITOS</span>
                <span class="only-small-devices">ADICIONAR À LISTA</span>
            </div>
        </button>
    </div>
    <div class="overview">{{details?.overview ? details?.overview : 'Nenhuma descrição disponível ;('}}
    </div>
</div>

<ng-template #loadingDetails>
    <div class="arc-info loading">
        <div class="title animated-background" style="width: 100%; height: 1.8rem;"></div>
        <div class="arc-sub-info animated-background" style="width: 100%; height: 4rem;"></div>
        <div class="arc-duration">
            <span class="duration animated-background" style="width: 50%; width: 10rem; height: 1.2rem;"></span>
        </div>
        <div class="actions flex">
            <div class="animated-background" style="width: 40%; height: 3.5rem;"></div>
            <div class="animated-background" style="width: 50%; height: 3.5rem;"></div>
        </div>
        <div class="overview animated-background" style="width: 100%; height: 5rem;"></div>
    </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>