<div class="wrapper">
    <form action="" [formGroup]="searchForm" (ngSubmit)="submit()">
        <input formControlName="search" class="title" id="search" type="search">
    </form>
    <div *ngIf="search$ | async as search; else loadingResults">
        <div *ngIf="search != 'notfound' else notFound" #arcResults>
            <grid-list [data$]="searchResults$"></grid-list>
        </div>
        <div class="arc-pagination" *ngIf="search?.total_pages > 1">
            <ngb-pagination [collectionSize]="search.total_pages" [(page)]="page" (pageChange)="pageChange(query)"
                [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                <ng-template ngbPaginationFirst>Pri.</ng-template>
                <ng-template ngbPaginationLast>Ult.</ng-template>
            </ngb-pagination>
        </div>
    </div>
</div>

<ng-template #loadingResults>
    <div class="arc-card-inline">
        <div class="card-inline-poster animated-background"></div>
        <div class="card-inline-title animated-background"></div>
        <div class="card-inline-rate animated-background"></div>
    </div>
</ng-template>

<ng-template #notFound>
    <div class="flex" style="justify-content: center; align-items: center; padding: 2rem;">
        <div class="title">Nenhum resultado encontrado ;(</div>
    </div>
</ng-template>