.arc-trailer {
  height: 100%;
}

.embed-trailer {
  display: none;
}

.trailer {
  width: 100%;
  height: 200px;
}

.play {
  position: relative;
  margin-top: 0.5rem;
  width: 100%;
  padding: 0;
  font-weight: 700;
  text-align: center;
  color: var(--bg-hover-color);
  background-color: var(--main-color);
}

.play::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  border-bottom: 0.0625rem solid #4a4e58;
  left: 0px;
  bottom: -1rem;
}

.not-found {
  background-color: var(--bg-hover-color);
  justify-content: center;
  align-items: center;
}

/* 850px */
@media (min-width: 53.125rem) {
  .embed-trailer {
    display: block;
  }

  .play {
    margin-bottom: 0;
  }

  .play::after {
    display: none;
  }
}
