@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~swiper/swiper.min.css";
@import "~swiper/modules/navigation/navigation.min.css";
@import "~swiper/modules/pagination/pagination.min.css";

:root {
  --main-color: #f47521;
  --second-color: #2abdbb;
  --nav-color: #23252b;
  --bg-hover-color: #141519;
  --modal-bg-color: #23252bcc;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto !important;
}

body {
  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

h5 {
  margin: 0;
}

ul,
li {
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.btn-outline,
.btn-text {
  cursor: pointer;
  font-weight: 700;
  padding: 0.9rem 0.9rem 0.8rem 0.5rem;
  line-height: 1.2rem;
}

.btn-outline {
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btn-text {
  color: #a0a0a0;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.btn-text:hover {
  color: #fff;
  background-color: var(--bg-hover-color);
}

a {
  color: #fff;
  text-decoration: none;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.0313rem;
  margin-bottom: 0.5rem;
}

.arc-card-inline {
  position: relative;
  padding: 0.325rem;
  transition: all 0.2s ease-in-out;
}

.arc-card-inline:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.arc-card-inline.loading:hover {
  background-color: transparent;
}

.card-inline-poster {
  position: relative;
}

.card-inline-poster img {
  width: 100%;
  object-fit: contain;
}

.card-inline-title {
  margin-top: 0.3rem;
  font-size: 0.95rem;
  font-weight: 600;
}

.card-inline-rate {
  display: flex;
  align-items: center;
  gap: 0.188rem;
}

.card-inline-rate div {
  display: flex;
  align-items: center;
}

.card-inline-rate span {
  font-size: 0.8rem;
}

.dropdown-item {
  width: fit-content;
  color: #a0a0a0;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
  color: #fff;
  background-color: var(--bg-hover-color);
}

.dropdown-menu {
  border-radius: 0px;
  background-color: var(--bg-hover-color);
}

.dropdown-item {
  width: 100%;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.rate-icon {
  color: #fab818;
  font-size: 1rem;
}

.arc-icon-text {
  display: flex;
  align-items: center;
  gap: 0.188rem;
}

a:hover {
  color: #fff;
}

.main-color {
  background-color: var(--main-color);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.lock {
  overflow: hidden;
}

.nav-link-icon {
  display: flex;
  align-items: center;
}

.wrapper {
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 1rem;
  transition: all 0.15s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--bg-hover-color);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  transition: all 0.15s ease-in-out;
  color: var(--bg-hover-color);
  font-size: 1.5rem;
  font-weight: bolder;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #fff;
}

.swiper-pagination-bullet {
  height: 5px;
  width: 2rem;
  border-radius: 0;
  background-color: #fff;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

.animated-background {
  background: var(--bg-hover-color);
  background: linear-gradient(
    110deg,
    var(--bg-hover-color) 8%,
    #f5f5f5 18%,
    var(--bg-hover-color) 33%
  );
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

/* 280px */
@media (min-width: 17.5rem) {
  .wrapper {
    padding: 0 1.125rem;
    width: 100%;
  }
}

/* 570px */
@media (min-width: 35.625rem) {
}

/* 900px */
@media (min-width: 61.25rem) {
  .wrapper {
    padding: 0 2.5rem;
  }
}

/* 1300px */
@media (min-width: 81.25rem) {
  .wrapper {
    width: calc(65.625rem + 2.5rem);
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
