@import "~swiper/swiper.min.css";
@import "~swiper/modules/navigation/navigation.min.css";
@import "~swiper/modules/pagination/pagination.min.css";

:root {
  --main-color: #f47521;
  --second-color: #2abdbb;
  --nav-color: #23252b;
  --bg-hover-color: #141519;
  --modal-bg-color: #23252bcc;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

h5 {
  margin: 0;
}

ul,
li {
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.lock {
  overflow: hidden;
}

.nav-link-icon {
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 1rem;
  transition: all 0.15s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--bg-hover-color);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  transition: all 0.15s ease-in-out;
  color: var(--bg-hover-color);
  font-size: 1.5rem;
  font-weight: bolder;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #fff;
}

.swiper-pagination-bullet {
  height: 5px !important;
  width: 2rem !important;
  border-radius: 0 !important;
  background-color: #fff;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

.animated-background {
  background: var(--bg-hover-color);
  background: linear-gradient(
    110deg,
    var(--bg-hover-color) 8%,
    #f5f5f5 18%,
    var(--bg-hover-color) 33%
  );
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* 280px */
@media (min-width: 17.5rem) {
  .container {
    padding: 0 1.125rem;
    width: 100%;
  }
}

/* 570px */
@media (min-width: 35.625rem) {
}

/* 900px */
@media (min-width: 61.25rem) {
  .container {
    padding: 0 2.5rem;
  }
}

/* 1300px */
@media (min-width: 81.25rem) {
  .container {
    width: calc(65.625rem + 2.5rem);
  }
}
