<div class="backdrop" *ngIf="details$ | async as details; else loadingBackdrop" [ngStyle]="{
    '--backdrop-img': 'url('+ baseImgUrl + 'original/' + details.backdrop_path +')'
}">
    <img (load)="setTitle(details?.title ? details.title : details.name)"
        src="{{baseImgUrl}}original/{{details.poster_path}}" alt="{{details?.title ? details.title : details.name}}"
        draggable="false" />
</div>
<div class="wrapper">
    <section class="arc-details-top flex">
        <details-general [mediaType]="mediaType" [details]="details$"></details-general>
        <details-trailer (imdbId)="setImdbId($event)"></details-trailer>
    </section>

    <section class="tv-temps" *ngIf="mediaType == 'tv'">
        <details-tv-temps [imdbId$]="imdbId$"></details-tv-temps>
    </section>

    <div class="arc-related">
        <slider-inline [mediaType]="mediaType!" [sliderTitle]="'Relacionados'" [sliderData$]="related$">
        </slider-inline>
    </div>
</div>

<ng-template #loadingBackdrop>
    <div class="main-item">
        <div class="backdrop animated-background"></div>
    </div>
</ng-template>